// The tuiuiu font isn't available in WOFF2, so a @font-face is set here without a mixin.
@font-face {
    font-family: 'tuiuiu';
    src: url('#{$font-root}tuiuiu.eot');
    src: url('#{$font-root}tuiuiu.eot?#iefix') format('embedded-opentype'),
        url('#{$font-root}tuiuiu.ttf') format('truetype'),
        url('#{$font-root}tuiuiu.svg#tuiuiu') format('svg'),
        url('#{$font-root}tuiuiu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// One exception to the limited font formats used above is the Tuiuiu icon font for Windows, where using the SVG version improves antialiasing
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'tuiuiu';
        src: url('#{$font-root}tuiuiu.svg#tuiuiu') format('svg');
    }
}
