*.swp
*.pyc
.DS_Store
/.coverage
/dist/
/build/
/MANIFEST
/tuiuiu.egg-info/
/docs/_build/
/.tox/
/venv
/node_modules/
npm-debug.log*
*.idea/
/*.egg/

### JetBrains
.idea/
*.iml
*.ipr
*.iws
coverage/
client/node_modules
env/
/app/
/tuiuiusaas.egg-info/
client/etc/
tuiuiu/__pycache__/
tuiuiu/api/__pycache__/
tuiuiu/api/v2/__pycache__/
tuiuiu/bin/__pycache__/
tuiuiu/contrib/__pycache__/
tuiuiu/contrib/modeladmin/__pycache__/
tuiuiu/contrib/modeladmin/helpers/__pycache__/
tuiuiu/contrib/modeladmin/templatetags/__pycache__/
tuiuiu/utils/__pycache__/
tuiuiu/tuiuiuadmin/__pycache__/
tuiuiu/tuiuiuadmin/api/__pycache__/
tuiuiu/tuiuiuadmin/migrations/__pycache__/
tuiuiu/tuiuiuadmin/templatetags/__pycache__/
tuiuiu/tuiuiuadmin/urls/__pycache__/
tuiuiu/tuiuiuadmin/views/__pycache__/
tuiuiu/tuiuiuadmin/viewsets/__pycache__/
tuiuiu/tuiuiualytics/__pycache__/
tuiuiu/tuiuiucore/__pycache__/
tuiuiu/tuiuiucore/blocks/__pycache__/
tuiuiu/tuiuiucore/management/__pycache__/
tuiuiu/tuiuiucore/migrations/__pycache__/
tuiuiu/tuiuiucore/permission_policies/__pycache__/
tuiuiu/tuiuiucore/templatetags/__pycache__/
tuiuiu/tuiuiudocs/__pycache__/
tuiuiu/tuiuiudocs/api/__pycache__/
tuiuiu/tuiuiudocs/api/admin/__pycache__/
tuiuiu/tuiuiudocs/api/v2/__pycache__/
tuiuiu/tuiuiudocs/migrations/__pycache__/
tuiuiu/tuiuiudocs/views/__pycache__/
tuiuiu/tuiuiuembeds/__pycache__/
tuiuiu/tuiuiuembeds/finders/__pycache__/
tuiuiu/tuiuiuembeds/migrations/__pycache__/
tuiuiu/tuiuiuembeds/templatetags/__pycache__/
tuiuiu/tuiuiuembeds/views/__pycache__/
tuiuiu/tuiuiuexperiments/__pycache__/
tuiuiu/tuiuiuexperiments/backends/__pycache__/
tuiuiu/tuiuiuexperiments/migrations/__pycache__/
tuiuiu/tuiuiufontawesome/__pycache__/
tuiuiu/tuiuiuforms/__pycache__/
tuiuiu/tuiuiuforms/migrations/__pycache__/
tuiuiu/tuiuiuimages/__pycache__/
tuiuiu/tuiuiuimages/api/__pycache__/
tuiuiu/tuiuiuimages/api/admin/__pycache__/
tuiuiu/tuiuiuimages/api/v2/__pycache__/
tuiuiu/tuiuiuimages/migrations/__pycache__/
tuiuiu/tuiuiuimages/templatetags/__pycache__/
tuiuiu/tuiuiuimages/views/__pycache__/
tuiuiu/tuiuiuredirects/__pycache__/
tuiuiu/tuiuiuredirects/migrations/__pycache__/
tuiuiu/tuiuiusearch/__pycache__/
tuiuiu/tuiuiusearch/backends/__pycache__/
tuiuiu/tuiuiusearch/management/__pycache__/
tuiuiu/tuiuiusearch/migrations/__pycache__/
tuiuiu/tuiuiusearch/urls/__pycache__/
tuiuiu/tuiuiusearch/views/__pycache__/
tuiuiu/tuiuiusites/__pycache__/
tuiuiu/tuiuiusnippets/__pycache__/
tuiuiu/tuiuiusnippets/views/__pycache__/
tuiuiu/tuiuiutenant/__pycache__/
tuiuiu/tuiuiutenant/management/__pycache__/
tuiuiu/tuiuiutenant/management/commands/__pycache__/
tuiuiu/tuiuiutenant/migration_executors/__pycache__/
tuiuiu/tuiuiutenant/postgresql_backend/__pycache__/
tuiuiu/tuiuiutenant/templatetags/__pycache__/
tuiuiu/tuiuiuusers/__pycache__/
tuiuiu/tuiuiuusers/migrations/__pycache__/
tuiuiu/tuiuiuusers/templatetags/__pycache__/
tuiuiu/tuiuiuusers/urls/__pycache__/
tuiuiu/tuiuiuusers/views/__pycache__/
tuiuiusaas.egg-info/
