{% load i18n %}
{% if page_types_restricted %}
    {% trans "Choose" as choose_str %}
{% else %}
    {% trans "Choose a page" as choose_str %}
{% endif %}

{% include "tuiuiuadmin/shared/header.html" with title=choose_str subtitle=page_type_names|join:", " search_url="tuiuiuadmin_choose_page_search" query_parameters="page_type="|add:page_type_string icon="doc-empty-inverse" %}

<div class="nice-padding">
    {% include 'tuiuiuadmin/chooser/_link_types.html' with current='internal' %}

    {% if page_types_restricted %}
        <p class="help-block help-warning">
            {% blocktrans with type=page_type_names|join:", " count counter=page_type_names|length %}
                Only pages of type "{{ type }}" may be chosen for this field. Search results will exclude pages of other types.
                {% plural %}
                Only the following page types may be chosen for this field: {{ type }}. Search results will exclude pages of other types.
            {% endblocktrans %}
        </p>
    {% endif %}

    <div class="page-results">
        {% include 'tuiuiuadmin/chooser/_browse_results.html' %}
    </div>
</div>
