{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}

{% templatetag openblock %} block body_class {% templatetag closeblock %}template-homepage{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
    <h1>Welcome to your new Tuiuiu site!</h1>

    <p>You can access the admin interface <a href="{% templatetag openblock %} url 'tuiuiuadmin_home' {% templatetag closeblock %}">here</a> (make sure you have run "./manage.py createsuperuser" in the console first).</p>

    <p>If you haven't already given the documentation a read, head over to <a href="http://docs.tuiuiu.io/">http://docs.tuiuiu.io</a> to start building on Tuiuiu</p>
{% templatetag openblock %} endblock {% templatetag closeblock %}
